---
title: forest park cowl - by liz abinante - artcraftcode.com
pattern: forest_park
---

= partial(:materials, locals: { pattern: forest_park } )
= partial(:header, locals: { pattern: forest_park } )

.content
  .fake-padding-left
  .actual-pattern
    = partial(:subtitle, locals: { pattern: forest_park })
    = partial(:forest_park)
    = partial(:abbreviations, locals: { cable: true })
    = partial(:images, locals: { images: forest_park.images })
    = partial(:updates, locals: { pattern: forest_park })
  .fake-padding-right