---
title: in winter - by liz abinante - artcraftcode.com
pattern: in_winter
---

= partial(:materials, locals: { pattern: in_winter } )
= partial(:header, locals: { pattern: in_winter } )

.content
  .fake-padding-left
  .actual-pattern
    = partial(:subtitle, locals: { pattern: in_winter })
    = partial(:in_winter)
    = partial(:images, locals: { images: in_winter.images })
    = partial(:updates, locals: { pattern: in_winter })

  .fake-padding-right

