---
title: winter sea - by liz abinante - artcraftcode.com
pattern: winter_sea
---

= partial(:materials, locals: { pattern: winter_sea } )
= partial(:header, locals: { pattern: winter_sea } )


.content.winter_sea
  .fake-padding-left
  .actual-pattern
    = partial(:subtitle, locals: { pattern: winter_sea })
    = partial(:winter_sea)
    = partial(:abbreviations, locals: { cable: false })
    = partial(:images, locals: { images: winter_sea.images })
    = partial(:updates, locals: { pattern: winter_sea })
  .fake-padding-right