---
title: in winter - by liz abinante - artcraftcode.com
layout: pdf
---

= partial(:subtitle_pdf, locals: { pattern: in_winter })
= partial(:images_1, locals: { images: in_winter.images })
= partial(:materials, locals: { pattern: in_winter } )
= partial(:abbreviations, locals: { cable: true })
= partial(:in_winter)
= partial(:updates, locals: { pattern: in_winter })
