---
title: misdirected - by liz abinante - artcraftcode.com
layout: pdf
---

= partial(:subtitle_pdf, locals: { pattern: misdirected })
= partial(:images_1, locals: { images: misdirected.images })
= partial(:materials, locals: { pattern: misdirected } )
= partial(:misdirected)
= partial(:abbreviations_table)
= partial(:updates, locals: { pattern: misdirected })
