---
title: artcraftcode.com - customizable knitting patterns for the modern knitter
layout: home
---

.welcome
  %h1 Middleman is Watching
  = pattern.version
  = pattern.version_updates
  = pattern.gauge
  = pattern.notions
  = pattern.images
  = pattern.designer
  = pattern.description
  = pattern.yarns
  = pattern.yarns_shown
  = pattern.needles
  = pattern.sizes
  = pattern.ravelry