.materials
  .comments
    %h2 materials
    %h3 Yarn
    - pattern.yarns.each do |yarn|
      %p
        - if yarn.label
          %span #{yarn.label} -
        Approximately #{yarn.yards} yards / #{yarn.meters} meters #{yarn.weight} weight yarn.
    %h3 Yarn Shown
    - pattern.yarns_shown.each do |yarn|
      %p
        - if yarn.label
          %span #{yarn.label} -
        #{yarn.detail} in #{yarn.color}
    %h3 Needles
    - pattern.needles.each do |needle|
      %p
        = needle.to_s
        - if needle.label
          %span - #{needle.label}
    %h3 Gauge
    %p
      = pattern.gauge
    %h3 Notions
    - pattern.notions.each do |notion|
      %p
        = notion
    %h3 Finished sizes
    - if pattern.sizes.length <= 3
      - pattern.sizes.each do |size|
        %p #{size.label}: #{size.measurements_string}
    - if pattern.sizes.length >= 3
      - pattern.sizes.each do |size|
        %p #{size.label}: #{size.measurements_string}
